body, html {
  margin: 0;
  padding: 0;
  font-size: 14px;
  justify-content: center;
  font-family: 'Cabin Sketch', cursive;
}

h1 {
  font-family: 'Cabin Sketch', cursive;
}

.instructions .container h1 {
  font-size: 84px;
  font-weight: 100;
  font-family: 'Cabin Sketch', cursive;
  color: yellow;
  justify-content: center;
  text-align: center;
}

.instructions {
  background-color: #333333;
  color: #DDDDDD;
  padding: 5px;
}

.boxed{
  border: 1px solid green;
  width: 200px;
}

.welcome{
  color: white;
}

#entryForm {
  margin-top: 14px;
}

#container {
  margin-top: 10px;
}

.container p{
  margin-top : 14px;
}

.message {
  padding: 10px 0;
}

.message p {
  margin-left: 10px;
}

.message:nth-child(odd) {
   background-color: #eeeeee;
}

.message:nth-child(even) {
  background-color: #f8f8f8;
}

.btn-danger{
  margin-left: 10px;
}

.navbar {
  background-color: #333333;
  width: 100%;
  border-radius: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar li {
  float: left;
}

.propertyCard li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  text-decoration: underline;
  color: #eee;
}

a {
  display: block;
  color: black;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
a:hover {
  text-decoration: underline;
  color: #eee;
}

/*TESTING FOR UPLOAD CSS*/

.thumb {
    width: 24px;
    height: 24px;
    float: none;
    position: relative;
    top: 7px;
}

form .progress {
    line-height: 15px;
}

.progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
}

.progress div {
    font-size: smaller;
    background: orange;
    width: 0;
}


/* ToolTip Styling */

/* .tooltipText{
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  position: absolute;
  z-index: 1;
} */

/* .tooltip:hover .tooltipText {
visibility: visible;} */
