<div class=" text-center col-md-3" id="actionBox">
    <div class="row">
      <div class= "panel panel-success">
        <div class="panel-heading"><h5>{{vm.displayCabin.cabin[0].property_name}}</h5></div>
        <div class="panel-body">
          <h4><a href="#!chore">Chores</a></h4>
        </div>
        <div ng-show="'{{vm.displayCabin.cabin[0].op_cl}}' == 'open'" class="panel-body">
          <h4><a href="#!list">Closing List</a></h4>
        </div>
        <div ng-show="'{{vm.displayCabin.cabin[0].op_cl}}' == 'close'" class="panel-body">
          <h4><a href="#!list">Opening List</a></h4>
        </div>
      </div>
    </div>
    <br>
    <div ng-if="vm.currentPath =='/chore'" id="addChore">
      <div class="row">
        <h4>Add a chore:</h4>
      </div>
      <div class="row">
        <label class="addChoreLabel" for="choreName">Chore:</label>
          <input class="addChoreInput"  ng-if="vm.currentPath =='/chore'" type="text" name="choreName" ng-model="vm.newChore.choreName" placeholder="Chore"/>
      </div>
      <div class="row">
        <label class="addChoreLabel"  for="choreNotesInput">Notes:</label>
          <textarea rows="4" cols="18" class="addChoreInput" id="choreNotesInput" ng-if="vm.currentPath =='/chore'"
            type="text" name="choreNotes" ng-model="vm.newChore.choreNotes" placeholder="Notes"></textarea>
      </div>
      <div class="row">
        <button class="addChoreButton btn-xs btn-warning"
            ng-click="vm.addChore( vm.displayCabin.cabin[0].id, vm.newChore)">Add Chore</button>
      </div>
    </div>
</div>
