<div class="navbar">
  <div class="container">
    <ul>
      <li><a href="#!user">User Home</a></li>
      <li><a href="#!add_property">Add Property</a></li>
      <li><a href="#!about">about Page</a></li>
      <li><a href="#!calendar">calendar Page</a></li>
      <li><a href="#!chore">chore Page</a></li>
      <li><a href="#!property">property Page</a></li>
      <li><a href="#!opening_list">opening_list Page</a></li>
      <li><a href="#!closing_list">closing_list Page</a></li>
    </ul>
  </div>
</div>
