<div ng-include="'views/partials/nav.html'"></div>
<div class="container" ng-show="vm.userObject.userName">
  <p>
    In Chore
  </p>
  <div ng-include=" 'views/partials/selectedCabin.html'"></div>
  <div ng-include="'views/partials/actions.html'"></div>

  <div class="choreBox">
    <ul ng-repeat="chore in vm.chore.array">
        <li>{{chore.chore_name}}</li><br>
        <li>{{chore.chore_notes}}</li><br>
        <button ng-click="vm.completeChore(chore.id)">completeChore</button>
    </ul>
    <button ng-click="vm.addChore()">Add Chore</button>
  </div>



</div>
