<div ng-include="'/views/partials/header.html'"></div>
<div ng-include="'views/partials/nav.html'"></div>


  <div class="container-fluid" ng-show="vm.userObject.userName">
    <div class="row">
        <div>
         <div ng-include=" 'views/partials/selectedCabin.html'"></div>
        </div>
        <div>
          <div ng-include="'views/partials/actions.html'"></div>
        </div>
    </div>
  </div>

  <div class="container">
    <h4>Added chores will display here.  Click the checkbox to complete a chore.</h4>
  </div>
  <div class="container" id="choreList">
    <div class ="row">
      <p ng-show="vm.chore.array.choreName">add a chore!</p>
      <ul id="choreUL">
        <li class="col-md-3" ng-repeat="chore in vm.chore.array">
          <input type="checkbox" id="choreCheckBox" name="chore.chore_name" value="completed"
                ng-click="vm.completeChore(chore.id, vm.displayCabin.cabin[0].id)">
          <label for ="chore.chore_name" tooltip-placement="top" uib-tooltip="{{chore.chore_notes}}">{{chore.chore_name}}</label>
        </li>
      </ul>
    </div>
  </div>
