<div ng-include="'views/partials/nav.html'"></div>
<div class="container" ng-show="vm.userObject.userName">
  <div ng-include=" 'views/partials/selectedCabin.html'"></div>

  <div class="container" id="list">
    <ul>
      <li ng-repeat="task in vm.list.array" ng-hide="'{{vm.cabinOpenState}}' == '{{task.op_cl}}'">
        <input type="checkbox" id="taskList" name="task.task_name" value="completed"
                ng-checked="task.completed" ng-click="vm.clickList(task.id, task.completed, vm.displayCabin.cabin[0].id, vm.cabinOpenState)">
        <label for ="task.task_name" tooltip-placement="right" uib-tooltip="{{task.task_notes}}">{{task.task_name}}</label>
      </li>
    </ul>
  </div>

  <div ng-show="{{vm.list.array}}">
    <button ng-click="vm.clearList(vm.displayCabin.cabin[0].id, vm.cabinOpenState)">Clear List</button>
    <button ng-click="vm.deleteList(vm.displayCabin.cabin[0].id)">Delete List</button>
  </div>
  <div ng-show="vm.readyToToggle.toggle" >
    <button ng-click="vm.op_clToggle(vm.displayCabin.cabin[0].id, vm.cabinOpenState)">Toggle Open/Closed</button>
  </div>
  <div ng-include="'views/partials/actions.html'"></div>

<button ng-click="vm.uploadToggle()" >Upload File?</button>
<button ng-click="vm.cancelUpload()" >Cancel</button>

  <div ng-show="vm.showUpload.show" class="upload">
    <div>
    <h4>Upload on file select</h4>
    <button type="file" ngf-select="vm.uploadFiles($file, $invalidFiles)"
            accept=".csv" ngf-max-size="100MB">
        Select File</button>
    <br><br>
    File:
    <div style="font:smaller">{{vm.f.name}} {{vm.errFile.name}} {{vm.errFile.$error}} {{vm.errFile.$errorParam}}
        <span class="progress" ng-show="vm.f.progress >= 0">
            <div style="width:{{vm.f.progress}}%"
                 ng-bind="vm.f.progress + '%'"></div>
        </span>
    </div>
    {{errorMsg}}
  </div>

</div>
